OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=
PAY_TO_ADDRESS=
HERO_PORT=4000
HERO_BASE_URL=http://127.0.0.1:4000
HERO_ROUTE_PATH=/resource/sync
HERO_PRICE_USD=$0.001
HERO_ASSET_SYMBOL=USDT
HERO_ASSET_ADDRESS=0x779ded0c9e1022225f8e0630b35a9b54be713736
HERO_WAIT_FOR_PAID_SECONDS=180
